<template>
  <div id="try">
    <header>
      <span>BitCoin Value</span>
    </header>
    <main>
        <h2>Click the button to get Random jokes</h2>
        <button id="btn" class="" v-on:click="getInfo">Get Info</button>

        <div v-if="loading">
          Loading.....
        </div>
            <div v-for="currency in info" class="currency" :key="currency">
                {{ currency.description }}:
                  <img src="https://www.altroconsumo.it/-/media/altroconsumo/images/home/soldi/conti%20correnti/news/bitcoin_shu_549334807_1600x900.jpg?rev=d27dc01d-79b2-4b7c-8296-3ce4bb05948a&la=it-IT&h=371&w=660&mw=660&hash=1B44B1BD0B0B9B5E54D4E36E87F6EEF9830EF40F" width="100px" height="100px"/>
            <span class="lighten">
            <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
            </span>
        </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'TryAxios',
  data () {
    return {
      jokes: [],
      loading: true
    }
  },
  methods: {
    getInfo: function () {
      this.loading = true
      axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
        .then((response) => {
          this.loading = false
          this.info = response.data.bpi
          console.log('si')
        }, (error) => {
          this.loading = false
          console.log('no')
        })
    }
  }
}
</script>

<style>
  body {
  margin: 0;
}
#try {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
main {
  text-align: center;
  margin-top: 40px;
}
header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}
header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
button {
  background: #51B767;
  color: #ffffff;
  padding: 15px;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  border: 0;
}
.cards {
  background: #F5F5F5;
  height:400px;
}
 .cards:hover {
  transform: translateY(-0.5em);
  background: #EBEBEB;
}
.cards {
   column-count: 1;
  column-gap: 1em;
    margin-top: 70px;
}
</style>
